@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

body {
    font-family: 'Markazi Text', serif;
    font-size:x-large;
}

h1, h2, h3, h4, h5, h6, small {
    font-family: 'Markazi Text', serif;
}

p {
    margin-block-start: .2em;
    margin-block-end: .2em;
}
